In [1]:
import pandas as pd


df3 = pd.read_csv('CLEANEDForder_segmentation_0.0.csv')

In [2]:
df3

,Unnamed: 0,customer,order,total_items,discount%,weekday,hour,Food%,Fresh%,Drinks%,Home%,Beauty%,Health%,Baby%,Pets%,labels,class
0,0,0,0,0.291045,23.03,4,13,9.46,87.06,3.48,0.00,0.00,0.00,0.0,0.0,5,6
1,1,0,1,0.238806,1.22,5,13,15.87,75.80,6.22,2.12,0.00,0.00,0.0,0.0,5,6
2,2,0,2,0.335821,18.08,4,13,16.88,56.75,3.37,16.48,6.53,0.00,0.0,0.0,5,6
3,3,1,3,0.380597,16.51,1,12,28.81,35.99,11.78,4.62,2.87,15.92,0.0,0.0,7,3
4,4,1,4,0.350746,18.31,2,11,24.13,60.38,7.78,7.72,0.00,0.00,0.0,0.0,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28096,29989,10231,29989,0.067164,7.70,1,0,61.32,0.00,23.34,15.34,0.00,0.00,0.0,0.0,2,7
28097,29990,10231,29990,0.119403,8.97,7,12,29.74,28.72,19.52,22.02,0.00,0.00,0.0,0.0,3,5
28098,29991,10231,29991,0.067164,3.92,5,11,23.38,35.70,40.92,0.00,0.00,0.00,0.0,0.0,1,1
28099,29997,10237,29997,0.358209,0.00,4,17,9.25,0.00,77.48,13.27,0.00,0.00,0.0,0.0,1,1
28100,29998,10237,29998,0.029851,0.00,5,10,0.00,0.00,100.00,0.00,0.00,0.00,0.0,0.0,1,1

In [3]:
df3['input_text'] = (
    "customer: " + df3['customer'].astype(str) +
    "; order: " + df3['order'].astype(str) +
    "; total_items: " + df3['total_items'].astype(str) +
    "; discount%: " + df3['discount%'].astype(str) +
    "; weekday: " + df3['weekday'].astype(str) +
    "; hour: " + df3['hour'].astype(str) +
    "; Food%: " + df3['Food%'].astype(str) +
    "; Fresh%: " + df3['Fresh%'].astype(str) +
    "; Drinks%: " + df3['Drinks%'].astype(str) +
    "; Home%: " + df3['Home%'].astype(str) +
    "; Beauty%: " + df3['Beauty%'].astype(str) +
    "; Health%: " + df3['Health%'].astype(str) +
    "; Baby%: " + df3['Baby%'].astype(str) +
    "; Pets%: " + df3['Pets%'].astype(str) + "; labels: " + df3['labels'].astype(str))

df3['target_text'] = df3['class'].astype(str)

In [4]:
df3

,Unnamed: 0,customer,order,total_items,discount%,weekday,hour,Food%,Fresh%,Drinks%,Home%,Beauty%,Health%,Baby%,Pets%,labels,class,input_text,target_text
0,0,0,0,0.291045,23.03,4,13,9.46,87.06,3.48,0.00,0.00,0.00,0.0,0.0,5,6,customer: 0; order: 0; total_items: 0.29104477...,6
1,1,0,1,0.238806,1.22,5,13,15.87,75.80,6.22,2.12,0.00,0.00,0.0,0.0,5,6,customer: 0; order: 1; total_items: 0.23880597...,6
2,2,0,2,0.335821,18.08,4,13,16.88,56.75,3.37,16.48,6.53,0.00,0.0,0.0,5,6,customer: 0; order: 2; total_items: 0.33582089...,6
3,3,1,3,0.380597,16.51,1,12,28.81,35.99,11.78,4.62,2.87,15.92,0.0,0.0,7,3,customer: 1; order: 3; total_items: 0.38059701...,3
4,4,1,4,0.350746,18.31,2,11,24.13,60.38,7.78,7.72,0.00,0.00,0.0,0.0,5,6,customer: 1; order: 4; total_items: 0.35074626...,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28096,29989,10231,29989,0.067164,7.70,1,0,61.32,0.00,23.34,15.34,0.00,0.00,0.0,0.0,2,7,customer: 10231; order: 29989; total_items: 0....,7
28097,29990,10231,29990,0.119403,8.97,7,12,29.74,28.72,19.52,22.02,0.00,0.00,0.0,0.0,3,5,customer: 10231; order: 29990; total_items: 0....,5
28098,29991,10231,29991,0.067164,3.92,5,11,23.38,35.70,40.92,0.00,0.00,0.00,0.0,0.0,1,1,customer: 10231; order: 29991; total_items: 0....,1
28099,29997,10237,29997,0.358209,0.00,4,17,9.25,0.00,77.48,13.27,0.00,0.00,0.0,0.0,1,1,customer: 10237; order: 29997; total_items: 0....,1
28100,29998,10237,29998,0.029851,0.00,5,10,0.00,0.00,100.00,0.00,0.00,0.00,0.0,0.0,1,1,customer: 10237; order: 29998; total_items: 0....,1

In [5]:
df3.to_csv('cleaned_Forder_segmentation_0.0.csv', index=False)

In [6]:
df4 = pd.read_csv('CLEANEDamazon_sales_dataset.csv')
df4

,Date,Store,Dept,Unnamed: 3,Weekly_Sales,Type,Size,Temperature,Fuel_Price,CPI,...,IsHoliday,Year,Month,Week,max,min,mean,median,std,Total_MarkDown
0,2019-02-05 00:00:00,1,1,05/02/2019,0.342576,0,151315,0.328495,2.572,0.840500,...,0,2019,2,5,57592.12,14537.37,22513.322940,18535.480,9854.349032,0.00
1,2019-02-05 00:00:00,9,97,05/02/2019,0.009188,1,125833,0.278565,2.572,0.875680,...,0,2019,2,5,766.93,-9.92,372.655556,371.050,290.954675,0.00
2,2019-02-05 00:00:00,9,85,05/02/2019,0.009537,1,125833,0.278565,2.572,0.875680,...,0,2019,2,5,2512.14,110.56,876.629441,824.040,307.436056,0.00
3,2019-02-05 00:00:00,8,80,05/02/2019,0.118953,0,155078,0.233627,2.572,0.873861,...,0,2019,2,5,11990.43,7414.43,9188.915105,9161.970,756.223236,0.00
4,2019-02-05 00:00:00,9,55,05/02/2019,0.152888,1,125833,0.278565,2.572,0.875680,...,0,2019,2,5,29166.26,4791.74,8607.050490,7571.600,3874.176095,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365959,2021-10-26 00:00:00,2,26,26/10/2021,0.127259,0,202307,0.647585,3.506,0.958935,...,0,2021,10,43,19679.04,4179.99,9347.725105,8762.990,2825.107609,9678.80
365960,2021-10-26 00:00:00,38,23,26/10/2021,0.000730,2,39690,0.602996,4.301,0.050698,...,0,2021,10,43,289.78,3.50,37.848679,31.365,34.065601,502.88
365961,2021-10-26 00:00:00,27,6,26/10/2021,0.073391,0,204184,0.522178,4.071,0.165055,...,0,2021,10,43,41005.33,2524.01,7730.729091,6798.780,5178.928257,10969.27
365962,2021-10-26 00:00:00,36,40,26/10/2021,0.140418,0,39910,0.700999,3.494,0.949400,...,0,2021,10,43,13605.53,8444.83,10541.569860,10329.180,1043.930131,1260.55
365963,2021-10-26 00:00:00,45,98,26/10/2021,0.014800,1,118221,0.520553,3.882,0.654796,...,0,2021,10,43,1504.71,2.00,561.239037,619.410,371.286705,5247.26

In [7]:
df4['input_text'] = (
    "Date: " + df4['Date'].astype(str) + "; " +
    "Store: " + df4['Store'].astype(str) + "; " +
    "Dept: " + df4['Dept'].astype(str) + "; " +
    "Unnamed: 3: " + df4['Unnamed: 3'].astype(str) + "; " +
    "Type: " + df4['Type'].astype(str) + "; " +
    "Size: " + df4['Size'].astype(str) + "; " +
    "Temperature: " + df4['Temperature'].astype(str) + "; " +
    "Fuel_Price: " + df4['Fuel_Price'].astype(str) + "; " +
    "CPI: " + df4['CPI'].astype(str) + "; " +
    "Unemployment: " + df4['Unemployment'].astype(str) + "; " +
    "IsHoliday: " + df4['IsHoliday'].astype(str) + "; " +
    "Year: " + df4['Year'].astype(str) + "; " +
    "Month: " + df4['Month'].astype(str) + "; " +
    "Week: " + df4['Week'].astype(str) + "; " +
    "max: " + df4['max'].astype(str) + "; " +
    "min: " + df4['min'].astype(str) + "; " +
    "mean: " + df4['mean'].astype(str) + "; " +
    "median: " + df4['median'].astype(str) + "; " +
    "std: " + df4['std'].astype(str) + "; " +
    "Total_MarkDown: " + df4['Total_MarkDown'].astype(str)
)

df4['target_text'] = df4['Weekly_Sales'].astype(str)

In [8]:
df4

,Date,Store,Dept,Unnamed: 3,Weekly_Sales,Type,Size,Temperature,Fuel_Price,CPI,...,Month,Week,max,min,mean,median,std,Total_MarkDown,input_text,target_text
0,2019-02-05 00:00:00,1,1,05/02/2019,0.342576,0,151315,0.328495,2.572,0.840500,...,2,5,57592.12,14537.37,22513.322940,18535.480,9854.349032,0.00,Date: 2019-02-05 00:00:00; Store: 1; Dept: 1; ...,0.3425757097197792
1,2019-02-05 00:00:00,9,97,05/02/2019,0.009188,1,125833,0.278565,2.572,0.875680,...,2,5,766.93,-9.92,372.655556,371.050,290.954675,0.00,Date: 2019-02-05 00:00:00; Store: 9; Dept: 97;...,0.0091879480203606
2,2019-02-05 00:00:00,9,85,05/02/2019,0.009537,1,125833,0.278565,2.572,0.875680,...,2,5,2512.14,110.56,876.629441,824.040,307.436056,0.00,Date: 2019-02-05 00:00:00; Store: 9; Dept: 85;...,0.0095369218120027
3,2019-02-05 00:00:00,8,80,05/02/2019,0.118953,0,155078,0.233627,2.572,0.873861,...,2,5,11990.43,7414.43,9188.915105,9161.970,756.223236,0.00,Date: 2019-02-05 00:00:00; Store: 8; Dept: 80;...,0.1189534689699212
4,2019-02-05 00:00:00,9,55,05/02/2019,0.152888,1,125833,0.278565,2.572,0.875680,...,2,5,29166.26,4791.74,8607.050490,7571.600,3874.176095,0.00,Date: 2019-02-05 00:00:00; Store: 9; Dept: 55;...,0.1528881807703483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365959,2021-10-26 00:00:00,2,26,26/10/2021,0.127259,0,202307,0.647585,3.506,0.958935,...,10,43,19679.04,4179.99,9347.725105,8762.990,2825.107609,9678.80,Date: 2021-10-26 00:00:00; Store: 2; Dept: 26;...,0.127259017721931
365960,2021-10-26 00:00:00,38,23,26/10/2021,0.000730,2,39690,0.602996,4.301,0.050698,...,10,43,289.78,3.50,37.848679,31.365,34.065601,502.88,Date: 2021-10-26 00:00:00; Store: 38; Dept: 23...,0.0007301097996074
365961,2021-10-26 00:00:00,27,6,26/10/2021,0.073391,0,204184,0.522178,4.071,0.165055,...,10,43,41005.33,2524.01,7730.729091,6798.780,5178.928257,10969.27,Date: 2021-10-26 00:00:00; Store: 27; Dept: 6;...,0.0733910164057541
365962,2021-10-26 00:00:00,36,40,26/10/2021,0.140418,0,39910,0.700999,3.494,0.949400,...,10,43,13605.53,8444.83,10541.569860,10329.180,1043.930131,1260.55,Date: 2021-10-26 00:00:00; Store: 36; Dept: 40...,0.1404178998952391
365963,2021-10-26 00:00:00,45,98,26/10/2021,0.014800,1,118221,0.520553,3.882,0.654796,...,10,43,1504.71,2.00,561.239037,619.410,371.286705,5247.26,Date: 2021-10-26 00:00:00; Store: 45; Dept: 98...,0.0148001173233668

In [9]:
df4.to_csv('cleaned_amazon_sales_dataset.csv', index=False)